/* Header Styles */
.homepage-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black; /* Set your desired background color */
  color: #fff; /* Set your desired text color */
  padding: 15px;
  z-index: 100; /* Ensure the header is above other content */
}
.custom-navbar {
  background: #333; /* Change this to your desired background color */
}
.header .navbar-nav .nav-link {
  color: #fff;
  padding: 0 15px;
  text-decoration: none;
  z-index: 100;
  background-color: black;
  /* transition: color 0.3s ease; */
}

.header .navbar-nav .nav-link:hover {
  text-decoration: none;
  background-color: black; 
  flex-wrap : nowrap;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .header .navbar-nav {
    flex-direction: column;
  }

  .header .navbar-nav .nav-link {
    padding: 10px 0;
    text-align: center;
    flex-wrap: nowrap;
  }

  .header .cart-button {
    margin-top: 20px;
  }

}

