/* Global Styles */

/* ... (other styles) */
/* .generics-container {
  margin-top: 20px; /* Adjust as needed 
  padding: 20px;
  text-align: center;
  background-color: lightgray;
} */
.generics-container {
  margin-top: 60px; 
  padding: 5rem 0;
  background-color: lightgray;
  text-align: center;
  z-index : 90
}

@media (max-width: 991px){
.generics-container {
  margin-top: 250px;
  padding: 3rem 0;
}
}